<!DOCTYPE html>
<html lang="ru" ng-app="{% block app %}app{% endblock %}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Starter Template for Bootstrap</title>

		{# 
			core JavaScripts
		#}
		{% block javascripts %}
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="//code.jquery.com/jquery.js"></script>

			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-mocks.js"></script>

			<!-- Include all compiled plugins (below), or include individual files as needed -->
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

			{% javascripts output='js/*.js' filter="?closure"
				'@angular_ui_bootstrap'
				'@angularjsCookies'
				'@FOSJsRoutingBundle/Resources/public/js/router.js'
				'@cryptoJs'
				'@VifeedUserBundle/Resources/assets/js/security/index.js'
				'@VifeedUserBundle/Resources/assets/js/security/authorization.js'
				'@VifeedUserBundle/Resources/assets/js/security/interceptor.js'
				'@VifeedUserBundle/Resources/assets/js/security/retryQueue.js'
				'@VifeedUserBundle/Resources/assets/js/security/security.js'
				'@VifeedUserBundle/Resources/assets/js/security/wsse.js'
				'@VifeedUserBundle/Resources/assets/js/security/login/login.js'
				'@VifeedUserBundle/Resources/assets/js/security/login/LoginFormController.js'
				'@VifeedUserBundle/Resources/assets/js/security/login/toolbar.js'
				'@VifeedUserBundle/Resources/assets/js/httpRequestTracker.js'
				'@VifeedUserBundle/Resources/assets/js/app.js'
			%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
			<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		{% endblock %}

		{# 
			core CSS
		#}
		{% block stylesheets %}
			{% stylesheets output='css/*.css' filter='cssrewrite,?yui_css'
				'@VifeedFrontendBundle/Resources/assets/sass/main.scss'
			%}
			<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
			<link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		{% endblock %}
	</head>
	<body>
		<!-- Static navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl" style='z-index:6000'>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">vifeed</a>
				</div>
				<div class="navbar-collapse collapse">
				{% block navbar %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Раскрутить ваше видео <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Об услуге</a></li>
							<li class="divider"></li>
							<li><a href="#">Для компаний</a></li>
							<li><a href="#">Для фильмов</a></li>
							<li><a href="#">Для музыкантов</a></li>
							<li><a href="#">Для игр</a></li>
							<li><a href="#">Для партнеров</a></li>
						</ul>
					</li>
					<li><a href="#contact">Присоединиться к нашей сети</a></li>
				</ul>
				{% endblock %}
					<login-toolbar></login-toolbar>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		{% block carousel %}{% endblock %}
		<div class="container">
			{% block content %}{% endblock %}
		<div>
	</body>
</style>