  <h1>Мои финансы</h1>
  <hr>

  <div class="row">
    <div class="col-md-8">
      <div class="btn-group btn-block">
      <button class="btn btn-lg btn-primary">
        <strong><i class="fa fa-calendar"></i> 13 Января 2014 - 13 Февраля 2014</strong>
        </button>
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      </div>
      <hr>
     <table class="table campaigns-table table-striped">
        <caption><h3>Расходы</h3><hr></caption>
        <thead>
          <tr>
            <th>Название кампании</th>
            <th>Просмотров</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</td>
            <td></td>
            <th>5000 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>
      <br>
     <hr>
     <table class="table campaigns-table table-striped">
        <caption><h3>Платежи</h3><hr></caption>
        <thead>
          <tr>
            <th>Дата операции</th>
            <th>Способ оплаты</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11 февраля 2014</td>
            <td>Яндекс деньги</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>13 февраля 2014</td>
            <td>Qiwi wallet</td>
            <td>100 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</th>
            <td></td>
            <th>1100 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>

    </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Cостояние счета</div>
          <dl class="dl-horizontal">
            <dt><h3>Баланс:</h3></dt>
            <dd><h3><b>4281</b> <i class="fa fa-rub"></i></h3></dd>
          </dl>
          <div class="panel-body">
          <button class="btn btn-lg btn-primary btn-block uppercase">
            <strong>Пополнить</strong>
          </button>
          </div>
        </div>
      </div>
  </div>

  <h1>Мои финансы</h1>
  <hr>

  <div class="row">
    <div class="col-md-8">
      <div class="btn-group btn-block">
      <button class="btn btn-lg btn-primary">
        <strong><i class="fa fa-calendar"></i> 13 Января 2014 - 13 Февраля 2014</strong>
        </button>
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      </div>
      <hr>
      <h3>
      Расходы на кампанию «+100500 - Толик Еболик»</h3>
      <button class="btn btn-md btn-default">
        <strong><i class="fa fa-arrow-left"></i> к общим расходам</strong>
      </button>
      <hr>
     <table class="table campaigns-table table-striped">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Просмотров</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>10 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>11 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>12 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</td>
            <td></td>
            <th>5000 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>
      <br>
     <hr>
     <table class="table campaigns-table table-striped">
        <caption><h3>Платежи</h3><hr></caption>
        <thead>
          <tr>
            <th>Дата операции</th>
            <th>Способ оплаты</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11 февраля 2014</td>
            <td>Яндекс деньги</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>13 февраля 2014</td>
            <td>Qiwi wallet</td>
            <td>100 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</th>
            <td></td>
            <th>1100 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>

    </div>
      <div class="col-md-4">
        <div class="well">
          <!-- Default panel contents -->
          <dl class="dl-horizontal">
            <dt><h3>Баланс:</h3></dt>
            <dd><h3><b>4281</b> <i class="fa fa-rub"></i></h3></dd>
          </dl>
          <button class="btn btn-lg btn-primary btn-block uppercase">
            <strong>Пополнить</strong>
          </button>
        </div>
      </div>
  </div>


  <h1>Мои финансы</h1>
  <hr>

  <div class="row">
    <div class="col-md-8">
      <div class="btn-group btn-block">
      <button class="btn btn-lg btn-primary">
        <strong><i class="fa fa-calendar"></i> 13 Января 2014 - 13 Февраля 2014</strong>
        </button>
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      </div>
      <hr>
     <table class="table campaigns-table table-striped">
        <caption><h3>Доходы</h3><hr></caption>
        <thead>
          <tr>
            <th>Название площядки</th>
            <th>Просмотров</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">gamepilot</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td><a href="">my blog</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td><a href="">itour</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td><a href="">stalin</a></td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</td>
            <td></td>
            <th>5000 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>
      <br>
     <hr>
     <table class="table campaigns-table table-striped">
        <caption><h3>Выплаты</h3><hr></caption>
        <thead>
          <tr>
            <th>Дата операции</th>
            <th>Способ вывода</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11 февраля 2014</td>
            <td>Яндекс деньги</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>13 февраля 2014</td>
            <td>Qiwi wallet</td>
            <td>100 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</th>
            <td></td>
            <th>1100 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>

    </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Cостояние счета</div>
          <dl class="dl-horizontal">
            <dt><h3>Баланс:</h3></dt>
            <dd><h3><b>4281</b> <i class="fa fa-rub"></i></h3></dd>
          </dl>
          <div class="panel-body">
          <button class="btn btn-lg btn-primary btn-block uppercase">
            <strong>Вывести</strong>
          </button>
          </div>
        </div>
      </div>
  </div>

  <h1>Мои финансы</h1>
  <hr>

  <div class="row">
    <div class="col-md-8">
      <div class="btn-group btn-block">
      <button class="btn btn-lg btn-primary">
        <strong><i class="fa fa-calendar"></i> 13 Января 2014 - 13 Февраля 2014</strong>
        </button>
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      </div>
      <hr>
      <h3>
      Доходы с площадки «gamepilot»</h3>
      <button class="btn btn-md btn-default">
        <strong><i class="fa fa-arrow-left"></i> к общим доходам</strong>
      </button>
      <hr>
     <table class="table campaigns-table table-striped">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Просмотров</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>10 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>11 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>12 февраля 2014</td>
            <td>100</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</td>
            <td></td>
            <th>5000 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>
      <br>
     <hr>
     <table class="table campaigns-table table-striped">
        <caption><h3>Выплаты</h3><hr></caption>
        <thead>
          <tr>
            <th>Дата операции</th>
            <th>Способ вывода</th>
            <th>Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11 февраля 2014</td>
            <td>Яндекс деньги</td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <td>13 февраля 2014</td>
            <td>Qiwi wallet</td>
            <td>100 <small><i class="fa fa-rub"></i></small></td>
          </tr>
          <tr>
            <th>Итого:</th>
            <td></td>
            <th>1100 <small><i class="fa fa-rub"></i></small></th>
          </tr>
        </tbody>
      </table>

    </div>
      <div class="col-md-4">
        <div class="well">
          <!-- Default panel contents -->
          <dl class="dl-horizontal">
            <dt><h3>Баланс:</h3></dt>
            <dd><h3><b>4281</b> <i class="fa fa-rub"></i></h3></dd>
          </dl>
          <button class="btn btn-lg btn-primary btn-block uppercase">
            <strong>Вывести</strong>
          </button>
        </div>
      </div>
  </div>