	<h1>Управление кампаниями</h1>
	<hr>
		<ul class="nav nav-tabs">
		  <li><a href="#">Запущенные <span class="badge">42</span></a></li>
		  <li><a href="#">Завершенные <span class="badge">600</span></a></li>
		  <li class="active"><a href="#">Приостановленые <span class="badge">15</span></a></li>
		  <li><a href="#">Архивированные <span class="badge">2</span></a></li>
		</ul>
      <table class="table campaigns-table table-striped">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th>Бюджет
            </th>
            <th>Ставка</th>
            <th>Показов</th>
            <th>Просмотров</th>
            <th>Управление</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img class="img-thumbnail" src="http://img.youtube.com/vi/kRUNOwygDGU/hqdefault.jpg" width="70" alt="..."></td>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
            <td>10 <small><i class="fa fa-rub"></i></small></td>
            <td>10</td>
            <td>5</td>
            <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            выберите действие <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            </ul>
        </div>
            </td>
          </tr>
          <tr>
            <td><img class="img-thumbnail" src="http://img.youtube.com/vi/kRUNOwygDGU/hqdefault.jpg" width="70" alt="..."></td>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
            <td>10 <small><i class="fa fa-rub"></i></small></td>
            <td>10</td>
            <td>5</td>
            <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            выберите действие <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            </ul>
        </div>
            </td>
          </tr>
          <tr>
            <td><img class="img-thumbnail" src="http://img.youtube.com/vi/kRUNOwygDGU/hqdefault.jpg" width="70" alt="..."></td>
            <td><a href="">+100500 - Толик Еболик</a></td>
            <td>1000 <small><i class="fa fa-rub"></i></small></td>
            <td>10 <small><i class="fa fa-rub"></i></small></td>
            <td>10</td>
            <td>5</td>
            <td>
				<div class="btn-group">
				  <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
				    выберите действие <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Separated link</a></li>
    			  </ul>
				</div>
            </td>
          </tr>
        </tbody>
      </table>
  <br>
  <br>