
<h1>Пополнение счета</h1>
<hr>

<form class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required" name="campaign_settings" for="campaign">
  <div class="row">
    <div class="form-group">
      <label for="firstName" class="col-md-2 control-label">
        Сумма
      </label>
      <div class="col-md-2">
        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" id="firstName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-lg btn-primary btn-block" type="button">Пополнить </button>
    </div>
  </div>
</form>