  <h1>Настройка виджета</h1>
  <hr>
<form class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required" name="campaign_settings" for="campaign">
    <div class="row">
        <div class="form-group">
            <label for="code" class="col-md-3 control-label">
                Код виджета
            </label>
            <div class="col-md-7">
                <textarea class="form-control" id="code" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">
                Размер видео
            </label>
            <div class="col-md-7 widget-size">
              <button type="button" class="btn btn-primary active">640x400</button>
              <button type="button" class="btn btn-primary">560x360</button>
              <button type="button" class="btn btn-primary">480x310</button>
              <button type="button" class="btn btn-primary">300x200</button>
              <button type="button" class="btn btn-primary">Другой</button>
              <div class="input-group">
                <span class="input-group-addon">
                   <i class="fa fa-arrows-h"></i>
                </span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group last">
                <span class="input-group-addon">
                  <i class="fa fa-arrows-v"></i>
                </span>
                <input type="text" class="form-control">
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-md-3 control-label">Воспроизводить следующее видео автоматически</label>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">Да</button>
            </div>
        </div>
        <div class="form-group">
            <label for="countries" class="col-md-3 control-label">
                Кнопка следующее видео
                <i class="fa fa-info-circle"></i>
            </label>
            <div class="col-md-5">
                <button type="button" class="btn btn-primary">Нет</button>
            </div>
        </div>
        </div>
        <hr>
        <h3>Страница виджета для постинга в социальные сети</h3>
        <hr>
        <div class="row">
        <div class="row">
          <div class="form-group">
            <div class="col-md-3 social-icons">
              <span class="fa-stack fa-lg icon-gplus">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </span>
              <span class="fa-stack fa-lg icon-twitter">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              <span class="fa-stack fa-lg icon-facebook">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              <span class="fa-stack fa-lg icon-vk">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" id="url" value="http://tracker.vifeed.co/dfXs13c">
            </div>
          </div>
        </div>
    </div>
    <hr>
  <br>
  <br>