/web/bundles/
/web/assetic/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/var/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bower-vendor/
/bin/
/composer.phar
atlassian-ide-plugin.xml
web/dev
tmp
node_modules
module
vagrant_boxes/.SyncID
vagrant_boxes/.SyncIgnore
vagrant_boxes/packer_virtualbox_0.1.2.box
vagrant_boxes/packer_virtualbox_virtualbox.box
.DS_Store
.idea
*.sublime-*
