/web/bundles/
/web/assetic/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/var/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bower-vendor/
/bin/
/composer.phar
atlassian-ide-plugin.xml
web/dev
tmp
node_modules
module
.DS_Store
.idea
*.sublime-*
vagrant_boxes
