parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            ru
    secret:            ThisTokenIsNotSoSecretChangeIt

    assetic.filter.compass.images_dir: '%kernel.root_dir%/../web/'
    assetic.filter.compass.http_path: /
    assetic.filter.compass.generated_images_path: '%kernel.root_dir%/../web/images/'

    developer_email:   dev@example.com

    social:
        VKAppID: ''
        VKAppSecret: ''

    payment.secret: ''