<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript">
    var host = 'vifeed.lc/app_dev.php';
    var VKAppID = '{{ social.VKAppID }}';

    function link() {
      var redirectUri = 'http://' + host + '/user/social/link?provider=VK';
      initVKLogin(redirectUri);
    }

    function unlink() {
      $.ajax({
        type: 'UNLINK',
        dataType: 'json',
        url: 'http://' + host + '/api/user/social?provider=VK',
        success: function (response) {
          window.location.reload();
        }
      });
    }

    function initExtLogin(provider, link) {
      // взято из окна вконтакта. Вообще всё это делается, чтобы окно не прыгало при ресайзе вконтактом
      var left = Math.floor((screen.width - 655) / 2);
      var top = Math.floor((screen.height - 376) / 2);
      var params = 'width=655, height=376, left=' + left + ', top=' + top + '';
//            var params = 'width=620, height=277';
      window.open(link, provider, params);

    }

    function initVKLogin(redirectUri) {
      var link = 'http://oauth.vk.com/authorize?client_id=' + VKAppID + '&scope=video,offline&display=popup&redirect_uri=' + redirectUri + '&response_type=code';
      initExtLogin('VK', link);
    }

  </script>
</head>
<body>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if app.user.vkID %}
      Подключен к ВК
      <a href="#" onclick="unlink()">отключить</a>
    {% else %}
      Вконтакте
      <a href="#" onclick="link()">подключить</a>
    {% endif %}
  {% endif %}
</body>
</html>
