<h1>Обновление пароля</h1>
<alert type="danger" ng-show="isError">
  <p>Ошибка получения пользовательского токена. Убедитесь, что для создания нового пароля, вы перешли по линку из вашего письма.</p>
</alert>
<alert type="success" ng-show="passwordUpdated && !isError">
  <p>Ваш пароль был успешно обновлен. <a href="javascript:void(0);" ng-click="showLoginForm()">Войдите</a>, используя ваш новый пароль.</p>
</alert>
<form ng-hide="passwordUpdated" class="form-horizontal" submit-form="updatePasswords()" name="password_form" novalidate>
  <div class="row">
    <div class="form-group">
      <label for="new-password" class="col-md-3 control-label">Новый пароль</label>
      <div class="col-md-5">
        <input
          type="password"
          class="form-control"
          id="new-password"
          name="new_password"
          ng-model="password.newOne"
          ng-required="true"
          ng-minlength="6"
          placeholder="Новый пароль">
        <error-message
          for="new_password"
          required="Вы забыли ввести пароль."
          minlength="Слишком короткий пароль. Введите хотя бы 6 символов">
        </error-message>
      </div>
    </div>
    <div class="form-group">
      <label for="repeat-password" class="col-md-3 control-label">Новый пароль еще раз</label>
      <div class="col-md-5">
        <input
          type="password"
          class="form-control"
          id="repeat-password"
          name="new_password_repeated"
          ng-model="password.newOneRepeated"
          password-match="password.newOne"
          ng-required="true"
          placeholder="Новый пароль еще раз">
        <error-message
          for="new_password_repeated"
          required="Вы забыли ввести пароль еще один раз."
          equal="Пароли не совпадают. Проверьте правильность ввода">
        </error-message>
      </div>
    </div>
  </div>
  <div class="row">
    <alert ng-show="errorList.length">
      <h4>Не удалось обновить пароль</h4>
      <ul>
        <li ng-repeat="message in errorList">{{message}}</li>
      </ul>
    </alert>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <button type="submit" ladda="loadingProgress" class="btn btn-primary btn-block ladda-button" data-style="zoom-out">
        <span class="ladda-label">Обновить</span>
      </button>
    </div>
  </div>
</form>
