{% extends 'VifeedFrontendBundle:Default:layout.html.twig' %}

{% block app %}advertiserApp{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/*.js' filter="?closure"
        '@VifeedFrontendBundle/Resources/assets/js/advertiserApp.js'
        '@VifeedFrontendBundle/Resources/assets/js/services/CampaignService.js'
        '@VifeedFrontendBundle/Resources/assets/js/services/PluralizerService.js'
        '@VifeedFrontendBundle/Resources/assets/js/controllers/CampaignController.js'
        '@VifeedFrontendBundle/Resources/assets/js/controllers/CampaignSettingsController.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfFieldGroup.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfVideoPreview.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfTextareaLimiter.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfRadioChoice.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfCheckChoice.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfValidationMessage.js'
        '@VifeedFrontendBundle/Resources/assets/js/directives/vfButton.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css' filter='cssrewrite,?yui_css'
        '@VifeedFrontendBundle/Resources/assets/sass/main-advertiser.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="#">Новая кампания</a></li>
        <li><a href="#">Управление кампаниями</a></li>
        <li><a href="#">Финансы</a></li>
        <li><a href="#">Настройки</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div ng-view></div>
{% endblock %}
