{% extends 'VifeedFrontendBundle:Default:layout.html.twig' %}

{% block app %}advertiserApp{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#
		js app
    #}
    {#% javascripts output='js/*.js' filter="?closure"
      '@VifeedFrontendBundle/Resources/assets/js/advertiserApp.js'
    %
    <script type="text/javascript" src="{{ asset_url }}"></script>
    #}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	{% stylesheets output='css/*.css' filter='cssrewrite,?yui_css'
		'@VifeedFrontendBundle/Resources/assets/sass/main-advertiser.scss'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}


{% block navbar %}
<ul class="nav navbar-nav">
	<li><a href="#">Новая кампания</a></li>
	<li><a href="#">Управление кампаниями</a></li>
	<li><a href="#">Финансы</a></li>
	<li><a href="#">Настройки</a></li>
</ul>
{% endblock %}

{% block content %}
<div ng-view></div>

<h1>Раскрутка нового видео <small>первый шаг создания рекламной кампании</small></h1>
<hr />

<form role="form">
	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
				<label for="exampleInputEmail1">Вставьте ссылку видео на Yotube</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-youtube"></i></span>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="ссылка видео на Yotube">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="button">Выбрать</button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
				<label for="exampleInputPassword1">Или клонируйте существующую кампанию</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<select class="form-control col-md-6">
					<option>Symfony2 - Installation & Configuration</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="button">Клонировать</button>
			</div>
		</div>
	</div>
</form>

<br />
<br />

<form role="form">
	<div class="form-group has-error">
		<div class="row">
			<div class="col-md-8">
				<label for="exampleInputEmail1">Вставьте ссылку видео на Yotube</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-youtube"></i></span>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="ссылка видео на Yotube" value="yandex.ru">
				</div>
				<p class="help-block">Shit can happen.</p>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="button">Выбрать</button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
				<label for="exampleInputPassword1">Или клонируйте существующую кампанию</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<select class="form-control col-md-6">
					<option>Symfony2 - Installation & Configuration</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="button">Клонировать</button>
			</div>
		</div>
	</div>
</form>

<br />
<br />

<form role="form">
	<div class="form-group has-success">
		<div class="row">
			<div class="col-md-8">
				<label for="exampleInputEmail1">Вставьте ссылку видео на Yotube</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-youtube"></i></span>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="ссылка видео на Yotube" value="http://www.youtube.com/watch?v=QDWF2tiIwcI">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="button">Выбрать</button>
			</div>
		</div>
	</div>
	<div class="form-group has-success">
		<div class="row">
			<div class="col-md-8">
				<label for="exampleInputPassword1">Или клонируйте существующую кампанию</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<select class="form-control col-md-6">
					<option>Symfony2 - Installation & Configuration</option>
					<option>Ебучий шакал</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="button">Клонировать</button>
			</div>
		</div>
	</div>
</form>


<br />
<br />
<br />
<br />
<br />


<h1>Настройте вашу кампанию</h1>
<hr />

<form class="form-horizontal">

<div class="row">
	<div class="col-md-10">
		<div class="form-group">
			<label class="col-md-3 control-label">
				Yotube видео
				<button type="button" class="btn btn-default btn-xs">Изменить&#8230;</button>
			</label>
			<div class="col-md-7">
				<iframe width="560" height="315" src="//www.youtube.com/embed/QDWF2tiIwcI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-3 control-label">Название кампании</label>
			<div class="col-md-7">
				<input type="text" class="form-control" id="title" placeholder="Название кампании">
			</div>
		</div>

		<div class="form-group">
			<label for="description" class="col-md-3 control-label">Описание видео <i class="fa fa-info-circle"></i></label>
			<div class="col-md-7">
				<textarea class="form-control" rows="3" id="description"></textarea>
				<p class="help-block">осталось 80 символов.</p>
			</div>
		</div>	
	</div>
</div>
<h2>Таргетинг</h2>
<hr />
<div class="row">
	<div class="col-md-10">
		<div class="form-group">
			<label for="inputPassword" class="col-md-3 control-label">Страны <i class="fa fa-info-circle"></i></label>
			<div class="col-md-7">
				<select class="form-control col-md-7">
					<option>тут select2 вместо обычного</option>
					<option>Россия</option>
					<option>Украина</option>
				</select>
				<p class="help-block">оставьте это поле пустым для показа во всех странах</p>
			</div>
		</div>

		<div class="form-group">
			<label for="inputPassword" class="col-md-3 control-label">Пол <i class="fa fa-info-circle"></i></label>
			<div class="col-md-7">
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineradio1" value="option1"> Все &nbsp;
				</label>

				<label class="radio-inline">
					<input type="radio" id="inlineradio1" value="option1"> Мужчины
				</label>
				<label class="radio-inline">
					<input type="radio" id="inlineradio2" value="option2"> Женщины
				</label>
			</div>
		</div>

		<div class="form-group">
			<label for="inputPassword" class="col-md-3 control-label">Возраст <i class="fa fa-info-circle"></i></label>
			<div class="col-md-7">
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineradio1" value="option1"> Все 
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox1" value="option1"> до 13
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> 14-17
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> 18-24
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> 25-34
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> 35-44
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> 45-54
				</label><br />
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> 55-64
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlinecheckbox2" value="option2"> после 65
				</label>
			</div>
		</div>
	</div>
</div>
<h2>Бюджет и ценообразование</h2>
<hr />
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="budget" class="col-md-5 control-label">Бюджет <i class="fa fa-info-circle"></i></label>
				<div class="col-md-6">
					<div class="form-group">
						<label class="checkbox-inline">
							<input type="checkbox" id="inlineradio1" value="option1"> Не ограничено 
						</label>
						<div class="input-group col-md-6">
							<span class="input-group-addon">
								<i class="fa fa-rub"></i>
							</span>
							<input type="number" class="form-control" id="budget" min="100" step="50">
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="dailyBudget" class="col-md-5 control-label">Ежедневный бюджет <i class="fa fa-info-circle"></i></label>
				<div class="col-md-6">
					<div class="form-group">
						<label class="checkbox-inline">
							<input type="checkbox" id="inlineradio1" value="option1"> Не ограничено 
						</label>
						<div class="input-group col-md-6">
							<span class="input-group-addon">
								<i class="fa fa-rub"></i>
							</span>
							<input type="number" class="form-control" id="dailyBudget" min="100" step="50">
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="dailyBudget" class="col-md-5 control-label">Максимальныя ставка <i class="fa fa-info-circle"></i></label>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group col-md-6">
							<span class="input-group-addon">
								<i class="fa fa-rub"></i>
							</span>
							<input type="number" class="form-control" id="dailyBudget" min="10" step="1">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 well">
			<h4>Оптимизатор цены</h4>
			<p>Используйте оптимизатор цены, чтобы определить ваш бюджет, максимальную ставку, или количество просмотров. Изменение любого из параметров автоматичести расчитает остальные.</p>
			<div class="form-group">
				<label for="dailyBudget" class="col-md-3 control-label"><small>Просмотры <i class="fa fa-info-circle"></i></small></label>
				<div class="col-md-8">
					<div class="form-group">
						<div class="input-group col-md-6">
							<span class="input-group-addon">
								<i class="fa fa-youtube-play"></i>
							</span>
							<input type="number" class="form-control" id="dailyBudget" min="0" step="1">
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="dailyBudget" class="col-md-3 control-label"><small>Просмотров в день <i class="fa fa-info-circle"></i></small></label>
				<div class="col-md-9">

				</div>
			</div>

			<div class="col-md-5">
				<table class="table table-bordered small bid-simulator">
				  <thead class="small">
				    <tr>
						<th>макс.<br />ставка</th>
						<th>просмотров<br />в cутки</th>
						<th>затраты<br />в cутки</th>
				    </tr>
				  </thead>
				  <tbody class="small">
				    <tr>
				      <td>
					      <label class="radio-inline">
								<input type="radio" value="option1">10 <i class="fa fa-rub small"></i>
						  </label>
					  </td>
				      <td>12</td>
				      <td>12</td>
				    </tr>
				    <tr>
				      <td>
  					      <label class="radio-inline">
								<input type="radio" value="option1">100 <i class="fa fa-rub small"></i>
						  </label>
				      </td>
				      <td>12</td>
				      <td>12</td>
				    </tr>
				    <tr>
				      <td>
		      			  <label class="radio-inline">
								<input type="radio" value="option1">150 <i class="fa fa-rub small"></i>
						  </label>
				      </td>
				      <td>12</td>
				      <td>12</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	
	<hr />
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-primary">Создать кампанию</button>
		</div>
	</div>

</form>

<br />
<br />
<br />
<br />
<br />
{% endblock %}