<h1>Раскрутка нового видео <small>первый шаг создания рекламной кампании</small></h1>
<hr>
<alert ng-show="isApiError" type="danger">
  Похоже, у нас что-то сломалось, потому что не удалось загрузить ваши кампании <i class="fa fa-frown-o"></i>
</alert>
<form role="form" submit-form="goToCreateCampaign()" name="campaign_form" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <label for="campaign-link">Вставьте ссылку видео на Youtube</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
          <input
            type="url"
            class="form-control"
            name="campaign_link"
            id="campaign-link"
            placeholder="ссылка видео на Youtube"
            ng-required="true"
            ng-model="newCampaignLink"
            ng-pattern="/https?:\/\/(.*?youtube\.com\/watch\?v=|youtu\.be\/)[a-zA-Z0-9\_\-]{11}.*/">
        </div>
        <error-message
          for="campaign_link"
          required="Укажите верную ссылку на видео. Например: http://www.youtube.com/watch?v=TqnA7vhsD4o"
          pattern="Неверный формат ссылки. Возможные форматы http://www.youtube.com/watch?v=xxx или http://youtu.be/xxx">
        </error-message>
      </div>
      <div class="col-md-2">
        <button type="submit" id="create-campaign-button" class="btn btn-primary btn-block">Выбрать</button>
      </div>
    </div>
  </div>
</form>
<form role="form" submit-form="goToCloneCampaign()" name="campaign_clone_form" ng-show="campaignList.length > 0">
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <label for="campaign-clone">Или клонируйте существующую кампанию</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <select class="form-control col-md-6" id="campaign-clone" ng-model="clonableCampaign" ng-options="campaign.title for campaign in campaignList"></select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary btn-block">Клонировать</button>
      </div>
    </div>
  </div>
</form>
