{% extends 'VifeedFrontendBundle:Default:layout.html.twig' %}

{% block navbar %}
<ul class="nav navbar-nav">
	<li><a href="#">Доступные кампании</a></li>
	<li><a href="#">Мои площадки</a></li>
	<li><a href="#">Финансы</a></li>
	<li><a href="#">Настройки</a></li>
</ul>
{% endblock %}

{% block content %}
  homepage for publishers
  <div ng-view></div>
{% endblock %}

