Поступил запрос на вывод средств на сумму {{ withdrawal.amount }} рублей от пользователя {{ withdrawal.user.username }}.<br/>
<a href="http://{{ backend_host }}/vifeed/payment/withdrawal/list?filter[status][type]=&filter[status][value]=new&filter[_page]=1&filter[_sort_by]=id&filter[_sort_order]=DESC&filter[_per_page]=25">Перейти в админку</a>