  <form name="form" class="form-signin">
    <h3 class="form-signin-heading">Пожалуйста авторизируйтесь.</h3>
    <div class="alert alert-warning" ng-show="authReason">
        {{authReason}}
    </div>
    <div class="alert alert-danger" ng-show="authError">
        {{authError}}
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
      <input class="form-control" type="email" placeholder="Email" autofocus ng-model="user.email">
    </div>
    <br />
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input class="form-control" type="password" placeholder="Пароль" ng-model="user.password">
    </div>
    <p id="error-message" ng-show="message">{[{message}]}</p>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
    <button class="btn btn-lg btn-primary btn-block uppercase" ng-click="login()"><strong>Войти</strong></button>
    <br />
  </form>
<!-- 
<form name="form" novalidate class="login-form">
    <div class="modal-header">
        <h4>Sign in</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-show="authReason">
            {{authReason}}
        </div>
        <div class="alert alert-error" ng-show="authError">
            {{authError}}
        </div>
        <div class="alert alert-info">Please enter your login details</div>
        <label>E-mail</label>
        <input name="login" type="email" ng-model="user.email" required autofocus>
        <label>Password</label>
        <input name="pass" type="password" ng-model="user.password" required>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn clear" ng-click="clearForm()">Clear</button>
        <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
    </div>
</form> -->
