<section class="content-section row publishers">
  <h1 class="text-center">Вы готовы начать работу с нами прямо сейчас?</h1>
  <div class="col-md-12 text-center">
    <a class="btn btn-lg btn-primary" href="{{ path('sign_up_page') }}#/publisher">Регистрация</a>
  </div>
</section>