<section>
  <div class="container content-section">
    <h1 class="text-center">Пресса о нас</h1>
    <div class="row">
      <div class="col-md-6 text-center">
        <span class="image-block">
          <a rel="nofollow" href="http://gamepilot.ru/articles/68434/">
            <span class="press-gamepilot press image"></span>
          </a>
        </span>
        <div class="blockquote text-center">«Zombakka фиксирует лишь «живые» просмотры, полностью исключая накрутку и пропуски видео»</div>
      </div>
      <div class="col-md-6">
        <span class="image-block">
          <a rel="nofollow" href="http://www.russtartup.ru/kak-sozdat-svoj-biznes/znaniya/startap-zombakka-ili-kak-sozdat-uspeshnyj-biznes.html">
            <span class="press-russian-startup press image"></span>
          </a>
        </span>
        <div class="blockquote text-center">«Они создали стартап, у которого, на мой взгляд, очень большое будущее»</div>
      </div>
    </div>
  </div>
</section>
