<section>
  <div class="container content-section">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Мы создали сервис автоматизированного размещения рекламных и вирусных видеороликов</h2>
        <h3>Размещайте наши видео на своих сайтах, форумах, блогах, в сообществах и группах в социальных сетях, в мобильных приложениях и зарабатывайте на каждом просмотре</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://facebook.com" class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://linkedin.com" class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://twitter.com" class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://vk.com" class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://plus.google.com" class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://wordpress.org" class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
        </a>
      </div>
    </div>
  </div>
</section>
