<div class="skrollr-section skrollr-brands">
  <div class="bcg"
       data-bottom-top="background-position:0px 300px;"
       data-top-bottom="background-position: 0px -100px;">
    <div class="hs-wrapper">
      <div class="container">
        <section class="content-section hs-container">
          <h1 class="text-center">Нам доверяют крупные сайты и сообщества в социальных сетях</h1>
          <div class="row">
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-apple brand-logo image"></span>
                </span>
              </div>
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-colgate brand-logo image"></span>
                </span>
              </div>
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-intel brand-logo image"></span>
                </span>
              </div>
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-lipton brand-logo image"></span>
                </span>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-sony brand-logo image"></span>
                </span>
              </div>
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-starbucks brand-logo image"></span>
                </span>
              </div>
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-valve brand-logo image"></span>
                </span>
              </div>
              <div class="col-md-3 text-center">
                <span class="image-block">
                  <span class="logo-warner-bros brand-logo image"></span>
                </span>
              </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
