{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block content %}
  <div class="container">
    <div class="lead col-md-12">
      <h1>Наша команда</h1>
    </div>
    <div class="lead col-md-12">
      <p>
        Мы — молодая, успешная и достаточно амбициозная команда, которая имеет огромный опыт в IT сфере. Наш коллектив состоит из таких людей, которые уже много лет профессионально занимаются рекламой и маркетингом. Запуская свой сервис Zombakka, мы поставили цель — сделать мощную площадку, позволяющую всем владельцам видео контента заполучить свою целевую аудиторию.
      </p>
      <p>
        Изначально этот сервис задумывался для крупных проектов, но как только мы поставили его на самообслуживание, им тут же заинтересовались видео блогеры с YouTube, музыканты, режиссеры и разработчики игр, а также те люди, которые собирают средства на благотворительные нужды, некоммерческие организации и многие другие.
      </p>
      <p>
        Наш сервис дает возможность распространять ваше видео о Ваших товарах или услугах через социальные сети, сайты, мобильные приложения и блоги. Система, разработанная нашими специалистами, доносит рекламное видео именно до тех людей, которым это интересно и необходимо.
      </p>
      <p>
        Наша команда способна собрать в одном месте до ста миллионов человек. Множество компаний уже воспользовались нашим уникальным сервисом, донеся свое видео до целевой аудитории, привлекая новых клиентов и увеличивая свои доходы.
      </p>
    </div>
  </div>
{% endblock %}
