<div id="statistics-chart-animation-trigger"></div>
<section class="carousel few-statistics-section">
  <div class="mid-carousel-inner">
    <div class="carousel-inner" id="scene-few-statistics">
      <div class="content-section">
        <div class="container">
          <div class="row">
            <h1 class="text-center">Немного cтатистики</h1>
            <div class="col-md-3 text-center">
              <div class="chart" data-percent="73" data-track-color="#fff" data-bar-color="#ffb400">
                <div class="chart-odometer odometer" data-new-value="142928837">0</div>
              </div>
              <h3 class="text-center">Просмотров</h3>
            </div>
            <div class="col-md-3 text-center">
              <div class="chart" data-percent="63" data-bar-color="#69b462">
                <div class="chart-odometer odometer" data-new-value="12523">0</div>
              </div>
              <h3 class="text-center">Площадок</h3>
            </div>
            <div class="col-md-3 text-center">
              <div class="chart" data-percent="43" data-bar-color="#006aad">
                <div class="chart-odometer odometer" data-new-value="233">0</div>
              </div>
              <h3 class="text-center">Рекламных кампаний в сети</h3>
            </div>
            <div class="col-md-3 text-center">
              <div class="chart" data-percent="83" data-bar-color="#ff6555">
                <div class="chart-odometer odometer" data-new-value="2634">0</div>
              </div>
              <h3 class="text-center">Успешных кампаний</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="video-wraper"></div>
      <div class="layer" data-depth="-0.50">
        <video class="background video-background" autoplay preload loop muted poster="{{ cdn_url }}/videos/main_page-846.jpg">
          <source src="{{ cdn_url }}/videos/main_page-846.mp4" type="video/mp4">
          <source src="{{ cdn_url }}/videos/main_page-846.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>


{# <div class="spacer s2"></div>
<div id="customactions" style="position:fixed; top:0; right:0; color: green; z-index: 1000000;">
	<label>scroll direction</label>
	<code id="scrollDirection"></code>
	<br>
	<label>state</label>
	<code id="state">outside</code>
	<br>
	<label>last hit</label>
	<code id="lastHit">nothing</code>
	<br>
	<label>progress</label>
	<code id="progress">0</code>
	<br>
	<a href="#" class="viewsource">view source</a>
</div>
<div class="spacer s2"></div> #}
