{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block carousel %}
  {{ render(controller('VifeedFrontendBundle:Carousel:index', {'enabledSlides': ['music']})) }}
{% endblock %}

{% block navbar %}
  {% include 'VifeedFrontendBundle:Public:navbar.html.twig' %}
{% endblock %}

{% block content %}
  {% include 'VifeedFrontendBundle:Public:how-its-work.html.twig' %}

<div class="skrollr-section skrollr-for-musicians">
  <div class="bcg"
       data-bottom-top="background-position:0px 100px;"
       data-top-bottom="background-position: 0px -100px;">
      <div class="container">
        <section class="content-section hs-container">
          <div class="row">
           <h1 class="text-center">Традиционные маркетинговые методы <br> <strong>не всегда</strong> работают для музыкантов</h2>

           <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="micro-record">
	<g id="Expanded_1_">
		<g>
			<g>
				<path fill="#FFFFFF" d="M90,107.458c-9.706,0-17.602-7.897-17.602-17.604v-16.25C72.397,63.898,80.294,56,90,56
					s17.604,7.898,17.604,17.604v16.25C107.604,99.561,99.705,107.458,90,107.458z M90,58.708c-8.211,0-14.895,6.683-14.895,14.896
					v16.25c0,8.214,6.684,14.897,14.895,14.897s14.895-6.683,14.895-14.896v-16.25C104.895,65.393,98.211,58.708,90,58.708z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M90,112.875c-12.907,0-23.02-10.112-23.02-23.021v-5.417c0-0.748,0.605-1.355,1.354-1.355
					c0.748,0,1.353,0.607,1.353,1.355v5.417c0,11.389,8.925,20.312,20.312,20.312c11.389,0,20.313-8.924,20.313-20.312v-5.417
					c0-0.748,0.604-1.355,1.354-1.355c0.748,0,1.354,0.607,1.354,1.355v5.417C113.02,102.763,102.906,112.875,90,112.875z"/>
			</g>
			<g>
				<rect x="88.647" y="111.521" fill="#FFFFFF" width="2.708" height="9.479"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M90,66.833c-0.748,0-1.352-0.607-1.352-1.355v-8.125C88.647,56.607,89.252,56,90,56
					c0.75,0,1.356,0.607,1.356,1.355v8.125C91.355,66.228,90.75,66.833,90,66.833z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M95.416,66.833c-0.748,0-1.354-0.605-1.354-1.353v-7.201c0-0.748,0.605-1.355,1.354-1.355
					s1.354,0.605,1.354,1.355v7.199C96.77,66.228,96.164,66.833,95.416,66.833z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M84.585,66.833c-0.75,0-1.355-0.607-1.355-1.355v-7.199c0-0.748,0.605-1.355,1.355-1.355
					c0.747,0.002,1.353,0.607,1.353,1.355v7.199C85.938,66.228,85.332,66.833,84.585,66.833z"/>
			</g>
			<g>
				<rect x="68.334" y="88.5" fill="#FFFFFF" width="43.332" height="2.707"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M84.585,74.958H73.75c-0.748,0-1.353-0.607-1.353-1.354c0-0.746,0.605-1.353,1.353-1.353h10.835
					c0.747,0,1.353,0.607,1.353,1.354C85.938,74.353,85.332,74.958,84.585,74.958z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M84.585,80.375H73.75c-0.748,0-1.353-0.607-1.353-1.355c0-0.748,0.605-1.354,1.353-1.354h10.835
					c0.747,0,1.353,0.607,1.353,1.354C85.938,79.768,85.332,80.375,84.585,80.375z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M106.25,74.958H95.416c-0.748,0-1.354-0.604-1.354-1.353c0-0.748,0.605-1.354,1.354-1.354h10.834
					c0.748,0,1.354,0.607,1.354,1.354C107.604,74.353,106.998,74.958,106.25,74.958z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M106.25,80.375H95.416c-0.748,0-1.354-0.607-1.354-1.355c0-0.748,0.605-1.354,1.354-1.354h10.834
					c0.748,0,1.354,0.607,1.354,1.354C107.604,79.768,106.998,80.375,106.25,80.375z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M84.585,85.792H73.75c-0.748,0-1.353-0.607-1.353-1.355c0-0.748,0.605-1.355,1.353-1.355h10.835
					c0.747,0,1.353,0.607,1.353,1.355C85.938,85.186,85.332,85.792,84.585,85.792z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M106.25,85.792H95.416c-0.748,0-1.354-0.607-1.354-1.355c0-0.748,0.605-1.355,1.354-1.355h10.834
					c0.748,0,1.354,0.607,1.354,1.355C107.604,85.186,106.998,85.792,106.25,85.792z"/>
			</g>
		</g>
	</g>
</g>
</svg>




             <h3 class="text-center">Продвижение на YouTube</h3>
             <p class="text-center">YouTube — это "современный MTV", где новые таланты рождаются каждый день.</p>
           </div>
           <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="bubble-love-talk">
	<g id="Expanded_7_">
		<g>
			<g>
				<path fill="#FFFFFF" d="M90,103.003c-0.23,0-0.464-0.06-0.673-0.179c-0.692-0.393-16.932-9.811-16.932-21.537
					c0-6.685,4.794-10.183,9.532-10.183c2.999,0,6.236,1.428,8.073,4.534c1.868-3.162,5.193-4.619,8.273-4.619
					c4.636,0,9.331,3.254,9.331,9.476c0,10.883-16.162,21.817-16.851,22.277C90.525,102.927,90.262,103.003,90,103.003z
					 M81.927,73.816c-3.287,0-6.824,2.341-6.824,7.476c0,8.873,11.769,16.819,14.845,18.744
					c3.043-2.187,14.947-11.262,14.947-19.538c0-4.65-3.43-6.766-6.622-6.766c-2.761,0-6.234,1.619-6.935,6.183
					c-0.105,0.66-0.673,1.148-1.339,1.148l0,0c-0.669,0-1.238-0.488-1.339-1.148C87.969,75.413,84.601,73.816,81.927,73.816z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M61.19,118.578c-0.359,0-0.711-0.143-0.973-0.413c-0.402-0.412-0.498-1.035-0.239-1.551l6.527-13.028
					C60.687,98.587,57.5,92.053,57.5,85.083c0-14.756,14.58-26.765,32.5-26.765c17.916,0,32.5,12.009,32.5,26.765
					c0,14.76-14.584,26.767-32.5,26.767c-3.711,0-7.344-0.51-10.803-1.514l-17.436,8.113
					C61.578,118.534,61.384,118.578,61.19,118.578z M90,61.025c-16.427,0-29.792,10.792-29.792,24.058
					c0,6.462,3.136,12.53,8.837,17.09c0.5,0.401,0.648,1.096,0.365,1.663l-5.272,10.521l14.381-6.692
					c0.302-0.139,0.646-0.163,0.966-0.065c3.354,1.023,6.894,1.545,10.516,1.545c16.427,0,29.792-10.791,29.792-24.057
					C119.792,71.82,106.427,61.025,90,61.025z"/>
			</g>
		</g>
	</g>
</g>
</svg>



             <h3 class="text-center">Зомбируйте новых фанатов</h3>
             <p class="text-center">Показывайте ваше музыкальное видео нужной аудитории, чтобы получить больше верных фанатов.</p>
           </div>
           <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="deal">
	<path fill="#FFFFFF" d="M63.765,80.419c-0.672-0.252-1.432,0.084-1.693,0.758l-3.913,10.268c-0.255,0.678,0.081,1.436,0.759,1.692
		c0.503,0.195,1.052,0.055,1.406-0.31c0.123-0.123,0.221-0.274,0.286-0.447l3.914-10.269C64.784,81.435,64.449,80.677,63.765,80.419
		z M65.64,73.188c-0.735-0.086-1.456,0.121-2.035,0.578c-1.188,0.946-1.355,2.679-0.43,3.827c0.449,0.57,1.093,0.929,1.82,1.018
		c0.732,0.079,1.449-0.125,2.021-0.583c0.085-0.071,0.169-0.148,0.249-0.224c0.959-0.983,1.034-2.534,0.178-3.607
		C67,73.629,66.355,73.271,65.64,73.188z M66.177,76.747l-0.105,0.098c-0.258,0.205-0.576,0.298-0.902,0.258
		c-0.32-0.041-0.604-0.193-0.809-0.458c-0.376-0.464-0.351-1.143,0.177-1.677c0.005-0.006,0.009-0.012,0.015-0.016
		c0.255-0.205,0.581-0.3,0.907-0.26c0.318,0.036,0.6,0.191,0.794,0.443C66.64,75.614,66.607,76.308,66.177,76.747z M127.712,91.018
		l-8.33-19.928c-0.514-1.239-1.483-2.201-2.723-2.712c-1.241-0.508-2.608-0.508-3.842,0.014l-3.795,1.588
		c-2.075,0.859-3.248,3.092-3.014,5.246c-1.943,1.125-5.65-0.765-6.92-1.61c-4.559-2.759-8.149-1.752-9.135-1.386L72.7,73.611
		c-0.072-0.468-0.196-0.932-0.405-1.369c-0.57-1.199-1.582-2.096-2.834-2.532l-3.83-1.34c-2.505-0.872-5.456,0.519-6.339,3.012
		l-7.104,19.913c-0.443,1.24-0.37,2.57,0.198,3.755c0.568,1.195,1.579,2.098,2.838,2.537l3.829,1.334
		c1.83,0.641,3.876,0.16,5.221-1.221c0.455-0.463,0.79-1.01,1.032-1.612c0.684,0.263,1.579,0.805,2.079,1.94
		c0.047,0.1,0.117,0.172,0.177,0.249c-0.304,0.731-0.432,1.525-0.33,2.333c0.158,1.207,0.776,2.274,1.739,3.018
		c1.343,1.038,3.106,1.2,4.576,0.56c-0.307,1.886,0.224,3.688,1.601,4.729c0.886,0.669,2,0.897,3.128,0.73
		c-0.049,0.455-0.056,0.903,0.009,1.337c0.156,1.118,0.722,2.062,1.583,2.662c1.373,0.949,3.291,0.873,5.096-0.047
		c-0.012,0.235-0.038,0.476-0.015,0.71c0.11,1.14,0.617,2.137,1.421,2.807c1.832,1.51,4.781,1.041,6.865-1.09
		c0.142-0.146,0.279-0.299,0.408-0.458l1.265-1.536c0.73-0.879,1.227-1.883,1.452-2.91c1.204,0.844,2.384,1.137,3.521,0.839
		c0.749-0.194,1.362-0.614,1.864-1.126c0.703-0.724,1.169-1.621,1.462-2.322c0.338,0.018,0.675,0.009,1.008-0.07
		c0.81-0.196,1.47-0.648,2.005-1.194c0.645-0.666,1.089-1.457,1.377-2.084c0.433,0.088,0.832,0.094,1.2,0.009
		c0.521-0.107,0.901-0.376,1.148-0.672c0.344-0.259,0.646-0.519,0.897-0.779c1.14-1.167,1.433-2.375,1.446-3.262
		c0.01-0.417-0.039-0.818-0.136-1.215l3.462-1.31c0.488,0.529,1.076,0.957,1.76,1.239c1.239,0.509,2.602,0.505,3.835-0.013
		l3.795-1.584c0.627-0.26,1.188-0.643,1.655-1.123C128.079,95.015,128.489,92.874,127.712,91.018z M62.919,95.035
		c-0.424,1.18-1.819,1.822-3,1.408l-3.833-1.334c-0.593-0.208-1.066-0.632-1.338-1.19c-0.259-0.554-0.295-1.172-0.089-1.742
		l7.102-19.913c0.116-0.316,0.288-0.598,0.521-0.841c0.642-0.649,1.611-0.876,2.479-0.57l3.832,1.333
		c0.593,0.208,1.065,0.632,1.334,1.19c0.27,0.554,0.297,1.174,0.093,1.749L62.919,95.035z M74.134,100.066l-0.863,1.129
		c-0.674,0.859-1.865,0.996-2.698,0.354c-0.407-0.315-0.665-0.767-0.735-1.273c-0.065-0.51,0.065-1.018,0.381-1.422l0.865-1.135
		c0.052-0.061,0.103-0.117,0.153-0.173c0.68-0.692,1.768-0.771,2.544-0.176c0.409,0.316,0.663,0.765,0.732,1.274
		C74.583,99.153,74.453,99.657,74.134,100.066z M80.015,105.746c-0.019,0.027-0.032,0.052-0.049,0.078
		c-1.044,1.144-2.456,1.591-3.229,1.005c-0.837-0.633-0.947-2.495,0.219-4.159l1.195-1.697c0.156-0.223,0.328-0.43,0.507-0.616
		c1.028-1.047,2.363-1.413,3.109-0.842c0.942,0.707,0.834,2.645-0.223,4.151l-1.119,1.582L80.015,105.746z M85.704,109.687
		c-1.47,1.844-3.519,2.377-4.335,1.812c-0.264-0.182-0.427-0.479-0.483-0.879c-0.13-0.93,0.321-2.163,1.173-3.221l0.348-0.426
		c0.024-0.041,0.059-0.067,0.083-0.104l0.015-0.022l0.996-1.228c0.127-0.157,0.259-0.309,0.399-0.45
		c1.47-1.507,3.19-1.869,3.948-1.345c0.254,0.177,0.415,0.467,0.473,0.865c0.133,0.933-0.313,2.168-1.17,3.221L85.704,109.687z
		 M85.01,101.382c0-0.03,0-0.058,0.004-0.088l0.065,0.058C85.059,101.361,85.036,101.373,85.01,101.382z M92.888,112.366
		l-1.265,1.536c-1.109,1.325-2.771,1.86-3.576,1.19c-0.345-0.275-0.449-0.711-0.479-1.023c-0.08-0.854,0.289-1.869,0.985-2.718
		l1.261-1.533c0.09-0.106,0.178-0.204,0.27-0.298c1.083-1.11,2.573-1.518,3.312-0.902c0.47,0.391,0.505,1.062,0.484,1.425
		C93.838,110.81,93.478,111.659,92.888,112.366z M108.263,102.48c-0.05,0.037-0.101,0.074-0.146,0.121
		c-0.373-0.079-1.561-0.513-4.099-2.85l-9.275-8.073c-0.546-0.475-1.328-0.392-1.852,0.13c-0.472,0.546-0.418,1.375,0.133,1.85
		l9.245,8.045c1.099,1.016,2.075,1.806,2.949,2.377c-0.349,0.743-0.939,1.65-1.613,1.813c-0.786,0.188-1.798-0.709-2.416-1.344
		l-10.328-8.951c-0.543-0.473-1.377-0.438-1.846,0.134c-0.474,0.546-0.416,1.378,0.13,1.851l10.236,8.874
		c0.455,0.47,0.907,0.842,1.359,1.154c-0.337,0.767-0.875,1.647-1.513,1.816c-0.558,0.146-1.376-0.306-2.391-1.348l-10.474-9.093
		c-0.516-0.448-1.279-0.405-1.748,0.055c-0.284-0.638-0.702-1.192-1.263-1.618c-1.728-1.316-4.289-0.953-6.244,0.817
		c-0.167-1.179-0.776-2.225-1.721-2.946c-1.893-1.459-4.604-1.198-6.19,0.634c-0.879-1.271-2.042-1.937-2.993-2.293l6.198-17.362
		l13.194-1.054l-3.376,2.393c-0.117,0.078-0.219,0.173-0.307,0.293c-0.089,0.127-2.13,2.995-1.666,6.759
		c-0.379,0.796-1.014,2.429-0.589,3.802c0.228,0.722,0.706,1.28,1.445,1.644c0.13,0.053,3.162,1.321,5.878-0.329
		c1.928-1.171,3.123-3.44,3.558-6.755l1.625-0.095l14.679,13.281c0.742,0.557,2.862,2.527,2.83,4.207
		C109.667,100.694,109.65,101.524,108.263,102.48z M111.053,96.866c-1.033-1.512-2.359-2.547-2.542-2.679L93.518,80.617
		c-0.262-0.237-0.61-0.354-0.954-0.337l-3.292,0.195c-0.656,0.035-1.187,0.554-1.235,1.208c-0.219,2.991-1.044,5.01-2.402,5.844
		c-1.535,0.943-3.432,0.196-3.456,0.187c-0.144-0.239,0.095-1.318,0.577-2.186c0.144-0.261,0.2-0.571,0.149-0.867
		c-0.426-2.435,0.688-4.491,1.04-5.058l6.927-4.915c0.382-0.152,3.089-1.112,6.81,1.139c0.604,0.407,5.518,3.57,9.171,1.954
		l7.458,17.853L111.053,96.866z M124.002,95.161l-3.799,1.582c-0.586,0.247-1.232,0.247-1.825,0.008
		c-0.594-0.241-1.053-0.702-1.3-1.294l-8.33-19.931c-0.372-0.886-0.177-1.906,0.493-2.588c0.225-0.231,0.493-0.41,0.798-0.54
		l3.792-1.586c0.589-0.248,1.237-0.248,1.827-0.007c0.592,0.248,1.054,0.703,1.299,1.296l8.329,19.929
		C125.779,93.213,125.201,94.653,124.002,95.161z M115.787,77.317c0.902-0.92,0.974-2.376,0.17-3.381
		c-0.414-0.534-1.018-0.865-1.692-0.943c-0.688-0.079-1.361,0.111-1.903,0.542c-1.125,0.885-1.274,2.507-0.404,3.579
		c0.419,0.541,1.023,0.881,1.702,0.957c0.68,0.082,1.354-0.112,1.898-0.545C115.641,77.46,115.717,77.388,115.787,77.317z
		 M114.703,76.263l-0.091,0.08c-0.221,0.179-0.497,0.257-0.778,0.224c-0.272-0.031-0.512-0.167-0.691-0.391
		c-0.325-0.402-0.3-0.981,0.149-1.44c0.002-0.005,0.01-0.012,0.012-0.014c0.224-0.179,0.502-0.258,0.788-0.227
		c0.266,0.036,0.51,0.167,0.679,0.381C115.101,75.288,115.072,75.885,114.703,76.263z M117.469,80.557
		c-0.272-0.673-1.032-0.998-1.712-0.727c-0.671,0.272-0.995,1.038-0.726,1.713l4.372,10.777c0.276,0.672,1.042,0.995,1.712,0.725
		c0.176-0.068,0.327-0.176,0.45-0.3c0.349-0.362,0.475-0.913,0.273-1.413L117.469,80.557z"/>
</g>
</svg>



             <h3 class="text-center">Будьте замечены продюсерами</h3>
             <p class="text-center">Музыкальные лейблы и студии разыскивают исполнителей топовых клипов на YouTube.</p>
           </div>
          </div>
        </section>
      </div>
    </div>
</div>
  <script type="text/javascript">
  skrollr.init({
    forceHeight: false,
		mobileCheck: function() {
      //hack - forces mobile version to be off
	    if(navigator.userAgent.match(/iPhone|iPod|iPad|Android|Windows Phone/i) != null){
		    $('body').addClass('mobile-view');
	    }
      return false;
    }
  });
  </script>

  {% include 'VifeedFrontendBundle:Public:where-will-be-seen.html.twig' %}
  {{ render(controller('VifeedFrontendBundle:Videos:index', {'enabledVideos': ['music1', 'music2']})) }}
{% endblock %}
