{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block carousel %}
  {{ render(controller('VifeedFrontendBundle:Carousel:index', {'enabledSlides': ['games']})) }}
{% endblock %}

{% block content %}
  {% include 'VifeedFrontendBundle:Public:how-its-work.html.twig' %}

<div class="skrollr-section skrollr-for-games">
  <div class="bcg"
       data-bottom-top="background-position:0px 100px;"
       data-top-bottom="background-position: 0px -100px;">
      <div class="container">
        <section class="content-section hs-container">
          <div class="row">
           <h1 class="text-center">Миллионы геймеров в поисках <strong>новых игр</strong>.</h1>
        <div class="col-md-4 text-center">


<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="joystick">
	<path fill="#FFFFFF" d="M79.316,90.54h-2.698v-2.7c0-0.514-0.42-0.93-0.936-0.93h-3.831c-0.516,0-0.934,0.417-0.934,0.93v2.7H68.22
		c-0.516,0-0.932,0.416-0.932,0.933v3.834c0,0.514,0.417,0.931,0.932,0.931h2.698v2.697c0,0.516,0.418,0.932,0.934,0.932h3.831
		c0.516,0,0.936-0.416,0.936-0.932v-2.697h2.698c0.512,0,0.933-0.417,0.933-0.931v-3.834C80.249,90.956,79.828,90.54,79.316,90.54z
		 M78.38,94.374h-2.697c-0.512,0-0.933,0.417-0.933,0.933v2.698h-1.965v-2.698c0-0.516-0.419-0.933-0.933-0.933h-2.7v-1.972h2.7
		c0.514,0,0.933-0.416,0.933-0.93v-2.7h1.965v2.7c0,0.514,0.421,0.93,0.933,0.93h2.697V94.374z M92.002,92.222h-4.011
		c-0.643,0-1.167,0.522-1.167,1.166c0,0.642,0.524,1.163,1.167,1.163h4.011c0.645,0,1.166-0.521,1.166-1.163
		C93.17,92.744,92.648,92.222,92.002,92.222z M105.825,75.146H94.509c0.088-0.262,0.146-0.539,0.146-0.829
		c0-1.41-1.115-2.557-2.488-2.557h-0.847v-2.293c0-2.207-1.989-3.998-4.43-3.998H66.348c-0.968,0-1.787-0.678-1.787-1.481
		c0-0.802,0.819-1.479,1.787-1.479h20.544c2.442,0,4.43-1.989,4.43-4.431v-0.19c0-2.439-1.987-4.428-4.43-4.428H61.934
		c-0.727,0-1.26,0.591-1.26,1.318c0,0.73,0.657,1.321,1.386,1.321h24.832c0.986,0,1.787,0.802,1.787,1.787v0.194
		c0,0.986-0.801,1.789-1.787,1.789H66.348c-2.442,0-4.428,1.846-4.428,4.119c0,2.273,1.986,4.122,4.428,4.122h20.544
		c0.971,0,1.787,0.621,1.787,1.355v2.293h-0.847c-1.37,0-2.489,1.146-2.489,2.557c0,0.293,0.058,0.567,0.145,0.83H74.171
		C64.981,75.146,57.5,83.278,57.5,93.275c0,9.998,7.481,18.131,16.671,18.131h31.654c9.192,0,16.675-8.133,16.675-18.131
		C122.5,83.278,115.018,75.146,105.825,75.146z M87.832,73.626h4.336c0.344,0,0.625,0.308,0.625,0.69
		c0,0.382-0.281,0.693-0.625,0.693h-4.336c-0.343,0-0.625-0.311-0.625-0.693C87.207,73.934,87.489,73.626,87.832,73.626z
		 M105.825,109.074H74.171c-7.909,0-14.341-7.086-14.341-15.799c0-8.712,6.433-15.798,14.341-15.798h31.654
		c7.911,0,14.344,7.086,14.344,15.798C120.169,101.988,113.736,109.074,105.825,109.074z M106.679,89.652
		c0-2.084-1.694-3.781-3.779-3.781s-3.778,1.696-3.778,3.781c0,2.084,1.693,3.778,3.778,3.778S106.679,91.736,106.679,89.652z
		 M102.899,91.567c-1.057,0-1.914-0.861-1.914-1.915c0-1.058,0.857-1.918,1.914-1.918c1.058,0,1.918,0.862,1.918,1.918
		C104.817,90.707,103.957,91.567,102.899,91.567z M108.341,93.124c-2.083,0-3.781,1.695-3.781,3.779s1.698,3.78,3.781,3.78
		c2.085,0,3.782-1.696,3.782-3.78S110.428,93.124,108.341,93.124z M108.341,98.818c-1.056,0-1.916-0.86-1.916-1.915
		c0-1.058,0.862-1.917,1.916-1.917c1.06,0,1.918,0.861,1.918,1.917C110.261,97.96,109.4,98.818,108.341,98.818z"/>
</g>
</svg>



          <h3 class="text-center">Разместите трейлер на YouTube</h3>
          <p class="text-center">Сформируйте комьюнити <br> вокруг игры до релиза.</p>
        </div>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="like-love">
	<g id="Expanded_1_">
		<g>
			<path fill="#FFFFFF" d="M90,119.598c-0.236,0-0.468-0.062-0.679-0.184c-0.323-0.188-8.006-4.67-15.813-11.889
				C62.885,97.707,57.5,88.001,57.5,78.684c0-12.561,8.502-18.281,16.403-18.281c6.093,0,12.908,3.483,16.097,11.142
				c3.193-7.66,10.004-11.142,16.096-11.142c7.902,0,16.404,5.72,16.404,18.281c0,9.317-5.384,19.023-16.008,28.843
				c-7.808,7.219-15.49,11.701-15.813,11.889C90.468,119.535,90.236,119.598,90,119.598z M73.903,63.111
				c-6.596,0-13.695,4.873-13.695,15.573c0,18.771,25.288,35.203,29.792,37.974c4.501-2.771,29.792-19.219,29.792-37.974
				c0-10.701-7.102-15.573-13.696-15.573c-6.055,0-12.972,4.147-14.767,13.412c-0.125,0.633-0.683,1.096-1.329,1.096
				s-1.206-0.463-1.329-1.096C86.876,67.258,79.959,63.111,73.903,63.111z"/>
		</g>
	</g>
</g>
</svg>

          <h3 class="text-center">Зомбируйте новых геймеров</h3>
          <p class="text-center">Показывайте ваше видео нужной аудитории,<br> чтобы получить больше верных фанатов.</p>
        </div>
        <div class="col-md-4 text-center">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="90.238" r="90"/>
<g id="bomb-bug">
	<g id="Expanded">
		<g>
			<g>
				<path fill="#FFFFFF" d="M90.011,113.739c-11.945,0-21.667-9.72-21.667-21.667c0-9.352,6.076-17.661,14.895-20.564v-3.811
					c0-0.747,0.607-1.354,1.355-1.354h10.833c0.747,0.002,1.354,0.607,1.354,1.354v3.811c8.821,2.903,14.896,11.213,14.896,20.564
					C111.677,104.02,101.959,113.739,90.011,113.739z M85.948,69.053v3.461c0,0.609-0.406,1.142-0.989,1.307
					c-8.188,2.263-13.906,9.77-13.906,18.252c0,10.455,8.506,18.959,18.958,18.959c10.456,0,18.958-8.504,18.958-18.959
					c0-8.484-5.717-15.992-13.905-18.252c-0.583-0.165-0.992-0.697-0.992-1.307v-3.461H85.948z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M108.969,70.407c-3.733,0-6.771-3.037-6.771-6.771c0-2.988-2.43-5.417-5.417-5.417
					s-5.417,2.429-5.417,5.417v4.062c0,0.748-0.607,1.355-1.355,1.355c-0.745-0.002-1.353-0.609-1.353-1.357v-4.062
					c0-4.48,3.644-8.125,8.125-8.125s8.125,3.645,8.125,8.125c0,2.241,1.821,4.062,4.062,4.062s4.062-1.821,4.062-4.062
					c0-2.24,1.821-4.062,4.062-4.062c0.748,0,1.354,0.607,1.354,1.355s-0.606,1.354-1.354,1.354c-0.746,0-1.354,0.609-1.354,1.354
					C115.739,67.368,112.702,70.407,108.969,70.407z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M117.094,56.865c-0.748,0-1.354-0.607-1.354-1.355v-5.415c0-0.748,0.606-1.354,1.354-1.354
					s1.354,0.606,1.354,1.354v5.417C118.448,56.258,117.842,56.865,117.094,56.865z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M120.926,58.452c-0.347,0-0.696-0.133-0.958-0.396c-0.533-0.528-0.533-1.386,0-1.916l3.829-3.831
					c0.529-0.529,1.386-0.529,1.914,0c0.529,0.528,0.529,1.386,0,1.914l-3.829,3.83C121.62,58.319,121.271,58.452,120.926,58.452z"
					/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M113.262,58.452c-0.346,0-0.69-0.133-0.956-0.396l-3.829-3.831c-0.529-0.528-0.529-1.388,0-1.914
					c0.532-0.529,1.389-0.529,1.914,0l3.831,3.831c0.531,0.53,0.531,1.388,0,1.916C113.958,58.319,113.61,58.452,113.262,58.452z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M127.927,62.282h-5.416c-0.747,0-1.354-0.606-1.354-1.354s0.607-1.355,1.354-1.355h5.416
					c0.747,0,1.354,0.607,1.354,1.355S128.674,62.282,127.927,62.282z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M124.755,69.94c-0.35,0-0.694-0.132-0.96-0.396l-3.833-3.828c-0.531-0.529-0.531-1.386,0-1.915
					c0.532-0.53,1.389-0.528,1.916,0l3.833,3.828c0.529,0.529,0.529,1.386,0,1.917C125.445,69.809,125.1,69.94,124.755,69.94z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M77.794,101.944c-0.429,0-0.849-0.204-1.111-0.581c-2.484-3.56-3.43-7.876-2.666-12.147
					c0.762-4.273,3.144-7.991,6.708-10.473c0.615-0.426,1.456-0.276,1.885,0.338c0.428,0.613,0.277,1.458-0.337,1.885
					c-6.127,4.269-7.637,12.725-3.366,18.853c0.428,0.614,0.278,1.46-0.337,1.886C78.33,101.865,78.06,101.944,77.794,101.944z"/>
			</g>
		</g>
	</g>
</g>
</svg>

          <h3 class="text-center">Нагнетайте ажиотаж</h3>
          <p class="text-center">Видео наиболее эффективный способ продемонстрировать геймплей.</p>
        </div>
      </div>
    </section>
</div>
</div>
</div>
<script type="text/javascript">
skrollr.init({
	forceHeight: false,
	mobileCheck: function() {
    //hack - forces mobile version to be off
    if(navigator.userAgent.match(/iPhone|iPod|iPad|Android|Windows Phone/i) != null){
	    $('body').addClass('mobile-view');
    }
    return false;
  }
});
</script>

  {% include 'VifeedFrontendBundle:Public:where-will-be-seen.html.twig' %}
  {{ render(controller('VifeedFrontendBundle:Videos:index', {'enabledVideos': ['game1', 'game2']})) }}
{% endblock %}
