{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block carousel %}
  {{ render(controller('VifeedFrontendBundle:Carousel:index', {'enabledSlides': ['movies']})) }}
{% endblock %}

{% block content %}
  {% include 'VifeedFrontendBundle:Public:how-its-work.html.twig' %}

<div class="skrollr-section skrollr-for-movies">
  <div class="bcg"
       data-bottom-top="background-position:0px 100px;"
       data-top-bottom="background-position: 0px -100px;">
      <div class="container">
        <section class="content-section hs-container">
          <div class="row">
           <h1 class="text-center">Мы поможем вашему фильму стать популярным</h1>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90.25" cy="90.287" r="90"/>
<g id="camera-video">
	<g id="Expanded">
		<g>
			<g>
				<path fill="#FFFFFF" d="M104.438,110.309H66.52c-2.239,0-4.062-1.821-4.062-4.062V81.873c0-2.24,1.823-4.062,4.062-4.062h37.917
					c2.241,0,4.062,1.822,4.062,4.062v24.374C108.5,108.487,106.679,110.309,104.438,110.309z M66.52,80.518
					c-0.748,0-1.354,0.609-1.354,1.354v24.374c0.002,0.745,0.607,1.354,1.354,1.354h37.917c0.748,0,1.354-0.609,1.354-1.354V81.873
					c0-0.746-0.606-1.354-1.354-1.354H66.52z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M76,100.83c-2.987,0-5.417-2.428-5.417-5.417c0-2.988,2.43-5.416,5.417-5.416s5.417,2.428,5.417,5.416
					C81.417,98.402,78.987,100.83,76,100.83z M76,92.705c-1.492,0-2.708,1.215-2.708,2.708s1.216,2.708,2.708,2.708
					c1.492,0,2.708-1.215,2.708-2.708S77.492,92.705,76,92.705z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M94.958,100.83c-2.985,0-5.418-2.428-5.418-5.417c0-2.988,2.429-5.416,5.418-5.416
					s5.417,2.428,5.417,5.416C100.375,98.402,97.947,100.83,94.958,100.83z M94.958,92.705c-1.494,0-2.708,1.215-2.708,2.708
					s1.214,2.708,2.708,2.708c1.493,0,2.709-1.215,2.709-2.708S96.451,92.705,94.958,92.705z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M94.958,92.705H76c-0.75,0-1.355-0.606-1.355-1.354S75.25,89.997,76,89.997h18.958
					c0.749,0,1.354,0.605,1.354,1.354S95.707,92.705,94.958,92.705z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M90.896,80.518c-0.75,0-1.355-0.607-1.355-1.355v-5.416c0-0.746-0.606-1.354-1.354-1.354H61.105
					c-0.75,0-1.355-0.607-1.355-1.355c0-0.746,0.605-1.353,1.355-1.353h27.083c2.241,0,4.062,1.822,4.062,4.062v5.416
					C92.25,79.911,91.645,80.518,90.896,80.518z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M101.729,80.518c-0.749,0-1.354-0.607-1.354-1.355v-8.125c0-2.241,1.821-4.062,4.062-4.062h5.417
					c0.748,0,1.354,0.607,1.354,1.355c0,0.748-0.605,1.354-1.354,1.354h-5.417c-0.748,0-1.354,0.607-1.354,1.353v8.125
					C103.083,79.911,102.478,80.518,101.729,80.518z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M120.688,72.393h-8.125c-2.241,0-4.062-1.822-4.062-4.062c0-2.241,1.821-4.062,4.062-4.062h8.125
					c2.241,0,4.062,1.822,4.062,4.062C124.75,70.571,122.929,72.393,120.688,72.393z M112.562,66.976
					c-0.748,0-1.354,0.609-1.354,1.355c0,0.746,0.606,1.354,1.354,1.354h8.125c0.748,0,1.354-0.609,1.354-1.354
					c0-0.746-0.606-1.355-1.354-1.355H112.562z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M121.938,106.873c-0.369,0-0.732-0.072-1.081-0.217l-14.231-5.929c-0.691-0.29-1.018-1.081-0.729-1.771
					c0.292-0.692,1.085-1.016,1.771-0.729l14.234,5.932l0.141-0.098V86.771l-0.666-1.347l0.525,1.249l-14.234,5.93
					c-0.688,0.289-1.479-0.039-1.771-0.729c-0.288-0.69,0.042-1.482,0.729-1.771l14.231-5.929c0.87-0.365,1.856-0.268,2.642,0.256
					c0.784,0.522,1.252,1.396,1.252,2.339v17.291c0,0.94-0.468,1.817-1.252,2.341C123.028,106.71,122.484,106.873,121.938,106.873z"
					/>
			</g>
		</g>
	</g>
</g>
</svg>

          <h3 class="text-center">Разместите трейлер на YouTube</h3>
          <p class="text-center">Сформируйте комьюнити вокруг фильма до премьеры.</p>
        </div>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90.532" cy="89.32" r="90"/>
<g id="happy-smiley">
	<g id="Expanded_3_">
		<g>
			<g>
				<path fill="#FFFFFF" d="M90.532,121.822c-17.919,0-32.5-14.584-32.5-32.5c0-17.919,14.581-32.5,32.5-32.5
					c17.918,0,32.5,14.581,32.5,32.5C123.032,107.238,108.45,121.822,90.532,121.822z M90.532,59.53
					c-16.427,0-29.793,13.366-29.793,29.792s13.364,29.792,29.793,29.792c16.427,0,29.792-13.365,29.792-29.792
					S106.959,59.53,90.532,59.53z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M90.532,113.697c-11.945,0-21.668-9.72-21.668-21.668c0-0.747,0.607-1.352,1.355-1.352
					s1.354,0.605,1.354,1.352c0,10.456,8.506,18.96,18.958,18.96c10.456,0,18.958-8.504,18.958-18.96
					c0-0.747,0.606-1.352,1.354-1.352s1.354,0.605,1.354,1.352C112.199,103.978,102.479,113.697,90.532,113.697z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M83.762,85.26c-0.747,0-1.354-0.605-1.354-1.355c0-2.24-1.823-4.062-4.062-4.062
					s-4.062,1.822-4.062,4.062c0,0.75-0.607,1.355-1.355,1.355c-0.747,0-1.354-0.605-1.354-1.355c0.002-3.731,3.039-6.77,6.772-6.77
					s6.771,3.039,6.771,6.77C85.115,84.655,84.51,85.26,83.762,85.26z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M108.137,85.26c-0.747,0-1.354-0.605-1.354-1.355c0-2.24-1.823-4.062-4.062-4.062
					s-4.062,1.822-4.062,4.062c0,0.75-0.607,1.355-1.354,1.355c-0.746,0-1.354-0.605-1.354-1.355c0-3.731,3.037-6.77,6.771-6.77
					s6.771,3.039,6.771,6.77C109.49,84.655,108.883,85.26,108.137,85.26z"/>
			</g>
		</g>
	</g>
</g>
</svg>

          <h3 class="text-center">Зомбируйте новых зрителей</h3>
          <p class="text-center">Показывайте ваш трейлер нужной аудитории, чтобы получить больше верных фанатов.</p>
        </div>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="bubble-love-talk">
  <g id="Expanded_7_">
    <g>
      <g>
        <path fill="#FFFFFF" d="M90,103.003c-0.23,0-0.464-0.06-0.673-0.179c-0.692-0.393-16.932-9.811-16.932-21.537
          c0-6.685,4.794-10.183,9.532-10.183c2.999,0,6.236,1.428,8.073,4.534c1.868-3.162,5.193-4.619,8.273-4.619
          c4.636,0,9.331,3.254,9.331,9.476c0,10.883-16.162,21.817-16.851,22.277C90.525,102.927,90.262,103.003,90,103.003z
           M81.927,73.816c-3.287,0-6.824,2.341-6.824,7.476c0,8.873,11.769,16.819,14.845,18.744
          c3.043-2.187,14.947-11.262,14.947-19.538c0-4.65-3.43-6.766-6.622-6.766c-2.761,0-6.234,1.619-6.935,6.183
          c-0.105,0.66-0.673,1.148-1.339,1.148l0,0c-0.669,0-1.238-0.488-1.339-1.148C87.969,75.413,84.601,73.816,81.927,73.816z"/>
      </g>
      <g>
        <path fill="#FFFFFF" d="M61.19,118.578c-0.359,0-0.711-0.143-0.973-0.413c-0.402-0.412-0.498-1.035-0.239-1.551l6.527-13.028
          C60.687,98.587,57.5,92.053,57.5,85.083c0-14.756,14.58-26.765,32.5-26.765c17.916,0,32.5,12.009,32.5,26.765
          c0,14.76-14.584,26.767-32.5,26.767c-3.711,0-7.344-0.51-10.803-1.514l-17.436,8.113
          C61.578,118.534,61.384,118.578,61.19,118.578z M90,61.025c-16.427,0-29.792,10.792-29.792,24.058
          c0,6.462,3.136,12.53,8.837,17.09c0.5,0.401,0.648,1.096,0.365,1.663l-5.272,10.521l14.381-6.692
          c0.302-0.139,0.646-0.163,0.966-0.065c3.354,1.023,6.894,1.545,10.516,1.545c16.427,0,29.792-10.791,29.792-24.057
          C119.792,71.82,106.427,61.025,90,61.025z"/>
      </g>
    </g>
  </g>
</g>
</svg>
          <h3 class="text-center">Рецензии на фильм</h3>
          <p class="text-center">Сформируйте положительное мнение о фильме.</p>
        </div>
      </div>
    </section>
</div>
</div>
</div>
<script type="text/javascript">
skrollr.init({
	forceHeight: false,
	mobileCheck: function() {
    //hack - forces mobile version to be off
    if(navigator.userAgent.match(/iPhone|iPod|iPad|Android|Windows Phone/i) != null){
	    $('body').addClass('mobile-view');
    }
    return false;
  }
});
</script>

  {% include 'VifeedFrontendBundle:Public:where-will-be-seen.html.twig' %}
  {{ render(controller('VifeedFrontendBundle:Videos:index', {'enabledVideos': ['films', 'films2']})) }}
{% endblock %}
