{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block carousel %}
  {{ render(controller('VifeedFrontendBundle:Carousel:index', {'enabledSlides': ['companies']})) }}
{% endblock %}

{% block content %}
<style>
.thumbnail {
  border: none;
}
</style>
{% include 'VifeedFrontendBundle:Public:how-its-work.html.twig' %}

<div class="skrollr-section skrollr-for-companies">
  <div class="bcg"
       data-bottom-top="background-position:0px 100px;"
       data-top-bottom="background-position: 0px -100px;">
      <div class="container">
        <section class="content-section hs-container">
          <div class="row">
           <h1 class="text-center">Вирусное продвижение брендов на Youtube <strong>значительно</strong> превышает по эффективности традиционные методы маркетинга</h1>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.998" r="90"/>
<g id="dashboard-speed">
	<g id="Expanded_5_">
		<g>
			<g>
				<path fill="#FFFFFF" d="M89.927,122.872c-17.918,0-32.5-14.582-32.5-32.5c0-17.919,14.582-32.5,32.5-32.5
					c17.918,0,32.5,14.581,32.5,32.5C122.427,108.29,107.845,122.872,89.927,122.872z M89.927,60.58
					c-16.427,0-29.792,13.366-29.792,29.792c0,16.428,13.364,29.793,29.792,29.793c16.427,0,29.792-13.365,29.792-29.793
					C119.719,73.946,106.354,60.58,89.927,60.58z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M89.927,95.79c-2.989,0-5.417-2.429-5.417-5.417s2.428-5.416,5.417-5.416s5.417,2.427,5.417,5.416
					S92.916,95.79,89.927,95.79z M89.927,87.663c-1.494,0-2.708,1.217-2.708,2.71c0,1.493,1.214,2.708,2.708,2.708
					s2.708-1.215,2.708-2.708C92.635,88.879,91.421,87.663,89.927,87.663z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M92.801,88.853c-0.347,0-0.694-0.13-0.96-0.396c-0.527-0.528-0.527-1.385,0-1.911l13.407-13.406
					c0.53-0.531,1.387-0.531,1.915,0c0.527,0.529,0.529,1.385,0,1.915L93.755,88.459C93.491,88.723,93.146,88.853,92.801,88.853z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M69.614,91.727h-5.417c-0.748,0-1.354-0.604-1.354-1.354c0-0.75,0.607-1.353,1.354-1.353h5.417
					c0.748,0,1.355,0.603,1.355,1.353C70.969,91.122,70.362,91.727,69.614,91.727z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M66.157,101.575c-0.532,0-1.036-0.315-1.25-0.837c-0.288-0.692,0.042-1.482,0.732-1.77l5.004-2.073
					c0.69-0.289,1.484,0.042,1.77,0.73c0.286,0.695-0.043,1.484-0.734,1.771l-5.003,2.075
					C66.504,101.54,66.329,101.575,66.157,101.575z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M113.694,101.575c-0.172,0-0.347-0.035-0.518-0.103l-5.003-2.075c-0.689-0.287-1.02-1.078-0.733-1.77
					c0.285-0.692,1.079-1.02,1.771-0.73l5.003,2.073c0.689,0.287,1.018,1.079,0.731,1.77
					C114.73,101.258,114.225,101.575,113.694,101.575z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M115.654,91.727L115.654,91.727h-5.417c-0.746,0-1.353-0.608-1.353-1.354
					c0-0.75,0.606-1.353,1.353-1.353l0,0h5.417c0.748,0,1.355,0.607,1.355,1.353C117.01,91.122,116.402,91.727,115.654,91.727z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M108.69,83.953c-0.532,0-1.036-0.314-1.25-0.834c-0.286-0.693,0.044-1.485,0.733-1.771l5.003-2.07
					c0.69-0.287,1.482,0.042,1.77,0.733c0.286,0.691-0.044,1.483-0.731,1.77l-5.005,2.072
					C109.041,83.919,108.866,83.953,108.69,83.953z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M97.7,72.961c-0.172,0-0.349-0.033-0.52-0.104c-0.69-0.289-1.02-1.078-0.731-1.771l2.072-5.001
					c0.288-0.69,1.079-1.018,1.77-0.733c0.694,0.287,1.02,1.078,0.734,1.771l-2.075,5.001C98.734,72.646,98.23,72.961,97.7,72.961z"
					/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M89.927,71.415L89.927,71.415c-0.75,0-1.354-0.607-1.354-1.354v-5.416c0-0.75,0.606-1.355,1.354-1.355
					l0,0c0.75,0,1.354,0.607,1.354,1.355v5.416C91.281,70.81,90.675,71.415,89.927,71.415z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M82.153,72.961c-0.532,0-1.036-0.315-1.25-0.837l-2.071-5.003c-0.285-0.693,0.044-1.483,0.734-1.77
					c0.69-0.289,1.481,0.043,1.77,0.731l2.07,5.003c0.286,0.693-0.043,1.485-0.733,1.771C82.502,72.928,82.327,72.961,82.153,72.961
					z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M75.563,77.365c-0.346,0-0.692-0.132-0.958-0.397l-3.827-3.831c-0.528-0.53-0.528-1.387,0-1.916
					c0.529-0.53,1.386-0.53,1.916,0l3.829,3.832c0.527,0.53,0.527,1.388,0,1.915C76.258,77.233,75.908,77.365,75.563,77.365z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M71.16,83.953c-0.171,0-0.347-0.032-0.518-0.101l-5.002-2.074c-0.69-0.289-1.018-1.079-0.732-1.77
					c0.288-0.69,1.077-1.02,1.769-0.733l5.003,2.074c0.69,0.289,1.02,1.078,0.734,1.771C72.195,83.639,71.691,83.953,71.16,83.953z"
					/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M102.114,112.041H77.739c-0.748,0-1.354-0.606-1.354-1.356v-8.125c0-0.746,0.606-1.354,1.354-1.354
					h24.375c0.748,0,1.354,0.608,1.354,1.354v8.125C103.469,111.435,102.862,112.041,102.114,112.041z M79.094,109.331h21.668
					v-5.415H79.094V109.331z"/>
			</g>
		</g>
	</g>
</g>
</svg>
          <h3 class="text-center">Продвижение на YouTube</h3>
          <p class="text-center">YouTube входит в тройку самых посещаемых сайтов в мире.</p>
        </div>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.999" r="90"/>
<g id="like-love">
  <g id="Expanded_1_">
    <g>
      <path fill="#FFFFFF" d="M90,119.598c-0.236,0-0.468-0.062-0.679-0.184c-0.323-0.188-8.006-4.67-15.813-11.889
        C62.885,97.707,57.5,88.001,57.5,78.684c0-12.561,8.502-18.281,16.403-18.281c6.093,0,12.908,3.483,16.097,11.142
        c3.193-7.66,10.004-11.142,16.096-11.142c7.902,0,16.404,5.72,16.404,18.281c0,9.317-5.384,19.023-16.008,28.843
        c-7.808,7.219-15.49,11.701-15.813,11.889C90.468,119.535,90.236,119.598,90,119.598z M73.903,63.111
        c-6.596,0-13.695,4.873-13.695,15.573c0,18.771,25.288,35.203,29.792,37.974c4.501-2.771,29.792-19.219,29.792-37.974
        c0-10.701-7.102-15.573-13.696-15.573c-6.055,0-12.972,4.147-14.767,13.412c-0.125,0.633-0.683,1.096-1.329,1.096
        s-1.206-0.463-1.329-1.096C86.876,67.258,79.959,63.111,73.903,63.111z"/>
    </g>
  </g>
</g>
</svg>
          <h3 class="text-center">Привлекайте новых клиентов и поклонников</h3>
          <p class="text-center">Ваше видео будет показано только нужной аудитории.</p>
        </div>
        <div class="col-md-4 text-center">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle opacity="0.5" fill="#137864" cx="90" cy="89.998" r="90"/>
<g id="like">
	<path fill="#FFFFFF" d="M120.953,90.255c0.698-0.89,1.499-2.366,1.545-4.487c0.125-5.968-5.592-7.97-8.732-8.2h-9.591l-0.133-0.008
		c-0.387-0.841,0.217-1.771,0.209-1.771c0,0,0,0,0,0.002c0.127-0.156,3.174-3.879,5.225-9.965
		c2.275-6.754-3.559-11.536-3.809-11.734l-0.34-0.201c-0.224-0.091-2.255-0.876-4.179,0.256c-1.468,0.865-2.356,2.537-2.643,4.975
		c-0.662,5.664-5.419,10.41-7.637,12.149c-0.313,0.243-0.563,0.44-0.73,0.588c-1.618,1.398-3.222,5.056-4.438,7.547
		c-0.811,1.665-3.041,4.345-4.188,5.332c-0.781,0.018-2.328,0.044-3.358,0.05c-0.391-1.241-1.543-2.709-2.913-2.709H60.571
		c-1.694,0-3.071,1.375-3.071,3.067v28.449c0,1.694,1.376,3.07,3.071,3.07h14.675c1.491,0,2.735-1.072,3.005-2.489
		c0.529-0.021,1.008-0.516,1.287-0.478c0.381,0.416,1.238,2.031,3.343,2.884l0.248,0.102h0.268c0.167,0,9.86,0.027,18.656,0.027
		c4.438,0,8.292-0.006,9.862-0.027c2.845-0.038,4.32-1.288,5.059-2.327c1.433-2.012,1.464-4.301,1.204-5.669
		c1.858-1.712,2.077-4.797,2.124-6.078c0.044-1.143-0.237-1.96-0.614-2.785c1.045-0.944,2.103-2.801,2.249-5.155
		C122.062,92.612,121.502,91.164,120.953,90.255z M75.539,113.594c0,0.167-0.131,0.298-0.297,0.298H60.571
		c-0.167,0-0.298-0.131-0.298-0.298V85.145c0-0.162,0.131-0.296,0.298-0.296h14.675c0.162,0,0.295,0.132,0.295,0.296v28.449H75.539z
		 M118.318,89.032l-1.372,1.01l1.255,1.158c0.046,0.043,1.105,1.044,0.967,3.297c-0.155,2.573-1.902,3.67-1.919,3.678l-2.005,0.837
		l1.61,1.427c0.133,0.152,0.794,0.95,0.665,2.277c-0.109,1.13-0.524,3.436-1.732,4.359l-1.568,0.6l1.099,0.94
		c0.279,0.837,0.329,2.83-0.602,4.138c-0.539,0.762-1.468,1.141-2.836,1.156c-4.404,0.06-25.454,0.008-28.204,0.002
		c-0.87-0.371-1.745-0.821-2.035-1.056c-0.242-0.432-0.9-2.039-3.394-1.959V87.559c1.466-0.012,3.812-0.062,3.812-0.062l0.478-0.01
		l0.367-0.299c0.161-0.128,3.926-3.772,5.291-6.565c1.303-2.676,2.646-5.708,3.753-6.665c0.146-0.126,0.364-0.294,0.631-0.506
		c2.276-1.783,7.883-7.196,8.678-14.007c0.177-1.497,0.621-2.499,1.282-2.9c0.564-0.339,1.255-0.222,1.564-0.141
		c0.821,0.742,4.222,4.157,2.745,8.538c-1.876,5.576-4.705,9.053-4.792,9.164c-0.706,0.987-1.543,3.19-0.212,5.183
		c0.603,0.909,1.648,1.138,2.422,1.054l9.395-0.004c0.25,0.02,6.165,0.551,6.065,5.377C119.68,87.972,118.358,89,118.318,89.032z"/>
</g>
</svg>

          <h3 class="text-center">Формируйте свою аудиторию</h3>
          <p class="text-center">На сегодняшний день видео является наиболее популярным контентом. Показывайте свой продукт в лучшем свете!</p>
        </div>
      </div>
    </section>
</div>
</div>
</div>
<script type="text/javascript">
skrollr.init({
	forceHeight: false,
	mobileCheck: function() {
    //hack - forces mobile version to be off
    if(navigator.userAgent.match(/iPhone|iPod|iPad|Android|Windows Phone/i) != null){
	    $('body').addClass('mobile-view');
    }
    return false;
  }
});
</script>

  {% include 'VifeedFrontendBundle:Public:where-will-be-seen.html.twig' %}
  {{ render(controller('VifeedFrontendBundle:Videos:index', {'enabledVideos': ['for_company1', 'for_company2']})) }}
{% endblock %}
