<div id="how-its-work-animation-trigger"></div>
<section class="how-its-work">
  <div class="container content-section">
    <div class="row">
      <a href="#trusted" class="pulse-arrow"><i></i></a>
      <h1 class="text-center">Как это работает</h1>
      <div class="col-md-4">
        <div class="svg-wrapper">
<svg version="1.1" id="youtube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="180px" height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
<circle fill="#E84539" cx="90" cy="90" r="0" />
<path id="youtubeBtnShadow" opacity="0" fill="#D63928" d="M40.99,122.787l56.852,56.853c42.809-3.698,77.039-37.344,81.623-79.893
  c-6.754-6.847-10.953-11.134-10.955-11.211L136.725,56.75L40.99,122.787z"/>
<path id="youtubeBtn" fill="#FFFFFF" d="M289.439,116.69c-2.725,5.488-6.434,9.068-11.441,9.068h-82.742c-5.008,0-8.854-2.733-11.169-9.068
    c0,0-4.087-9.079-4.087-26.299s4.087-26.301,4.087-26.301c1.324-4.699,6.161-9.069,11.169-9.069h82.742
    c5.008,0,9.246,4.112,11.441,9.069c0,0,4.088,8.153,4.088,26.301C293.527,108.541,289.439,116.69,289.439,116.69z"/>
<polygon id="youtubePlayIcon" fill="#E84539" points="-39.328,90.141 -39.328,67.434 -19.664,78.786 0,90.141 -19.664,101.497 -39.328,112.849 "/>
</svg>

        </div>
        <h3 class="text-center">Вы указываете ссылку <br> на видео</h3>
      </div>
      <div class="col-md-4">
          <div class="svg-wrapper">
          <svg version="1.1" id="target" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px"
             height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
          <g>
            <circle id="circle1" fill="#93BC3E" cx="90" cy="90" r="0" />
            <circle id="circle2" fill="#fff" cx="90" cy="90" r="0" />
            <circle id="circle3" fill="#93BC3E" cx="90" cy="90" r="0" />
            <circle id="circle4" fill="#fff" cx="90" cy="90" r="0" />
            <circle id="circle5" fill="#93BC3E" cx="90" cy="90" r="0" />
          </g>
          <path id="targetShadow" opacity="0" d="M153.449,26.279c35.212,35.08,35.321,92.064,0.24,127.278c-35.079,35.214-92.066,35.321-127.279,0.241"/>
          <g id="targetArrow">
            <g>
              <polygon fill="#544841" points="-14.48,-18.005 -73.973,-77.495 -76.57,-76.58 -77.263,-74.206 -17.769,-14.716 		"/>
              <polygon fill="#846545" points="-17.641,-18.13 0,0 -8.102,-27.668 		"/>
              <polygon fill="#544841" points="-27.591,-8.11 0,0 -17.641,-18.13 		"/>
              <polygon fill="#EBAA26" points="-59.648,-80.613 -69.754,-80.613 -69.754,-80.732 -69.754,-80.732 -69.754,-90.72 -79.618,-90.72
                -79.618,-80.732 -59.647,-60.762 -59.647,-72.938 -59.648,-72.938 		"/>
              <polygon fill="#F37021" points="-79.528,-60.735 -79.528,-70.84 -79.648,-70.84 -79.648,-70.84 -89.634,-70.84 -89.634,-80.704
                -79.648,-80.704 -59.676,-60.733 -71.852,-60.733 -71.852,-60.735 		"/>
            </g>
          </g>
          </svg>

        </div>
        <h3 class="text-center">Выбираете целевую <br> аудиторию</h3>
      </div>
      <div class="col-md-4">
          <div class="svg-wrapper">
          <svg id="face" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="180px"
             height="180px" viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
          <circle id="eyeCircle" fill="#F0CDB1" cx="90" cy="90" r="0" />
          <path id="hair" opacity="0" fill="#855745" d="M40.912,29.243c4.729,3.564,10.613,5.68,16.99,5.68c6.671,0,12.802-2.313,17.634-6.181
            c0.266-0.212,0.538-0.263,0.815-0.19c4.025-2.218,8.645-3.488,13.567-3.488c5.264,0,10.184,1.451,14.398,3.965
            c0.222-0.028,0.45,0.034,0.688,0.215c4.729,3.564,10.614,5.68,16.99,5.68c6.673,0,12.802-2.313,17.634-6.181
            c0.263-0.209,0.534-0.261,0.806-0.192c3.57-1.946,7.594-3.166,11.893-3.404c-2.127-2.056-4.329-4.033-6.657-5.868
            c-0.405-0.319-0.824-0.594-1.236-0.894c0.009-0.008,0.019-0.014,0.031-0.022C129.341,6.846,110.474,0,90,0
            C69.526,0,50.658,6.848,35.536,18.361c0.041,0.027,0.084,0.054,0.126,0.082c-1.316,0.896-2.613,1.843-3.872,2.911
            c-1.437,1.22-2.821,2.499-4.178,3.805c4.55,0.302,8.784,1.698,12.49,3.896C40.361,28.979,40.628,29.029,40.912,29.243z"/>
          <path id="faceShadow" opacity="0" fill="#D8AE94" d="M20.077,96.632l82.478,82.478c39.775-5.553,71.204-37.089,76.602-76.916L160.07,83.108L20.077,96.632z"/>
          <g id="eye">
            <path fill="#FFFFFF" d="M-5.604,79.837C-23.088,63.39-46.626,53.311-72.526,53.311c-0.026,0-0.053,0-0.081,0
              c-0.026,0-0.055,0-0.081,0c-25.899,0-49.437,10.079-66.921,26.526c-3.236,3.07-5.785,6.121-5.596,9.941h72.599H-0.01
              C0.181,85.958-2.368,82.907-5.604,79.837z"/>
            <path id="eyeShadow" fill="#FFFEF8" d="M-139.61,99.719c17.484,16.446,41.022,26.526,66.921,26.526c0.026,0,0.055-0.003,0.081-0.003
              c0.028,0,0.055,0.003,0.081,0.003c25.9,0,49.438-10.08,66.922-26.526c3.236-3.071,5.785-6.12,5.594-9.94h-72.597h-72.599
              C-145.395,93.599-142.846,96.647-139.61,99.719z"/>
            <g id="pupil">
              <circle fill="#90D0BE" cx="-72.638" cy="90" r="0"/>
              <g id="umbrella" opacity="0">
                <path fill="#3EAD8D" d="M-83.33,118.081c6.9,2.608,14.546,2.607,21.447-0.001l-2.918-7.635l-7.807-20.421l-7.805,20.421
                  L-83.33,118.081z"/>
                <path fill="#3EAD8D" d="M-44.552,100.749c2.612-6.9,2.608-14.546,0-21.448l-7.634,2.919l-20.421,7.805l20.421,7.807
                  L-44.552,100.749z"/>
                <path fill="#3EAD8D" d="M-61.882,61.97c-6.901-2.609-14.547-2.608-21.447,0.002l2.917,7.635l7.805,20.418l7.807-20.418
                  L-61.882,61.97z"/>
                <path fill="#3EAD8D" d="M-100.662,79.301c-2.608,6.902-2.607,14.548,0.001,21.448l7.635-2.918l20.418-7.807l-20.418-7.805
                  L-100.662,79.301z"/>
              </g>
              <path opacity="0" id="zombakka-logo" fill="#202E37" d="M-59.153,83.279c-5.244-4.601-12.566-2.804-15.974,0.448c-3.655,3.495-4.236,9.094-0.979,11.85
                c3.854,3.267,7.257,1.42,8.635,0.105l0.681-0.593c1.347-2.15-1.256-3.748-2.702-2.366c-0.553,0.528-1.478,0.547-2.052,0.038
                c-1.154-1.006-1.192-2.681-0.091-3.729c1.78-1.707,4.742-1.764,6.598-0.133c2.549,2.24,2.812,5.853,0.73,8.37
                c0,0-3.72,4.894-9.856,3.028c-1.59-0.359-3.096-1.093-4.361-2.202c-5.242-4.599-5.12-11.951-0.396-17.05
                c3.876-4.183,9.644-5.423,16.754-3.859c2.495,1.121,3.198,0.636,3.801-0.684c-2.549-2.402-7.594-5.519-13.27-5.519
                c-10.378,0-18.792,8.414-18.792,18.793c0,10.377,8.414,18.791,18.792,18.791c3.137,0,6.082-0.779,8.681-2.135
                c1.516-0.83,2.884-1.965,4.268-3.215C-53.804,98.82-53.021,88.659-59.153,83.279z"/>
              <path id="pupilShadow" opacity="0" fill="#1D2C4C" d="M-51.193,111.191c11.826-11.826,11.826-31,0-42.827l-42.828,42.827
                C-82.194,123.021-63.02,123.021-51.193,111.191z"/>
            </g>
          </g>
          </svg>
        </div>
        <h3 class="text-center">Ваше видео увидят<br> миллионы</h3>
      </div>
    </div>
  </div>
{#   <div class="module_cont module_dt_section_separator">
    <section style="background-color:#eee; height: 100px; margin: 0; padding: 0;">
          <svg preserveAspectRatio="none" viewBox="0 0 100 100" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" id="bigTriangleDown">
              <path d="M0 -1 L50 99 L100 -1 Z" fill="#fff"></path>
          </svg>
      </section>
  </div>
  <div style="background: #eee;" class="content-section">
    <div class="container">
    <h1 class="text-center">Ваше видео становится популярным</h1>
    <span class="image-block">
      <img src="http://placehold.it/180x180" alt="" class="img-circle">
    </span>
    </div>
  </div> #}
</section>
