{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block content %}
  <div class="container">
    <div class="lead col-md-12">
      <h1>Наши реквизиты</h1>
    </div>
    Zombakka — это простая и быстрая платформа
для продвижения ваших видео. С помощью нашего сервиса люди размещают свой видео контент на многих популярных сайтах, а также в социальных сетях, мобильных приложениях.

    <h2>ИНН:</h2> 7715923440

    <h2>Контакты:</h2>
    <dl class="dl-horizontal">
      <dt>Адрес:</dt>
      <dd>г. Москва, Сущевский Вал ул., д. 47, стр. 1, 127018</dd>
      <dt>Телефон:</dt>
      <dd>+7 (495) 644-55-35</dd>
      <dt>E-mail:</dt>
      <dd>info@zombakka.com</dd>
    </dl>
  </div>
{% endblock %}
