{% extends 'VifeedFrontendBundle:Public:layout.html.twig' %}

{% block content %}
  <div class="container">
    <div class="lead col-md-12">
      <h1>О нас в прессе</h1>
    </div>
    <div class="lead col-md-12">
      <p></p>
    </div>
  </div>
{% endblock %}
