<div class="container">
  <section class="content-section row">
    <h1 class="text-center">Где будет показано видео?</h1>
    <div class="col-md-4">
      <span class="image-block">
        <span class="platform-sites platform image"></span>
      </span>
      <h3 class="text-center">Сайты и блоги</h3>
  {#     <p>
        В вашем распоряжении лучшие из тематических групп и пабликов.
        Тысячи подписчиков поделятся вашим видео с друзьями и коллегами!
      </p> #}
    </div>
    <div class="col-md-4">
      <span class="image-block">
        <span class="platform-social platform image"></span>
      </span>
      <h3 class="text-center">Социальные сети</h3>
  {#     <p>
        Только выбранная вами тематика и аудитория. Здесь подборка лучших сайтов в рунете для
        коммерческого размещения.
      </p> #}
    </div>
    <div class="col-md-4">
      <span class="image-block">
        <span class="platform-mobile platform image"></span>
      </span>
      <h3 class="text-center">Мобильные приложения</h3>
  {#     <p>
        Тысячи приложений уже сегодня начнут работать на популярность вашего видео!
      </p> #}
    </div>
  </section>
</div>
