<html>
<head>
  <script type="text/javascript">
    {% autoescape false %}
      opener.location.reload();
      opener.focus();
      self.close();
    {% endautoescape %}
  </script>
</head>

<body></body>
</html>
